html {
    background: #65ae61;
    }
    
    body {
      font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
      margin: 60px;
      padding: 60px;
      color: #242424;
      border-top: 5px solid #242424;
      border-left: 5px solid #242424;
      border-right: 5px solid #242424;
      border-bottom: 5px solid #242424;
      background: rgb(233, 232, 221);
    }
    
    h1 {
      font-size: 3em;
      margin: 0;
    }
    
    h2 {
      font-size: 2em;
    }
    
    p {
      line-height: 1.4em;
    }
    
    .blog {
      border-bottom: 1px solid #ccc;
    }
    
    a[target] {
      f: rgb(208, 208, 208);
    }
    
    label {
      font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    }
    
     table {
      background: #e2f2f2;
    }
    
    .stick {
        background: #fff;
        position: sticky;
        position: -webkit-sticky;
        top: 0;
    }
    
    
    img {
        width: 350px;
        height: 350px;
        margin-right: 5px;
    }

    .space {
        margin-top: 40px;
    }